body, input[text], button {
  color: grey;
}

button {
  cursor: pointer;
}

* {
  font-family: Arial;
}

table, td, tr, tbody, thead {
  margin: 0px;
  padding: 0px;
}

.captionLabel {
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

input, textarea {
  width: 250px;
  padding: 2px;
  line-height: 27px;
  color: #1c66ab;
  background: white;
  font-size: 18px;
  border: 2px solid #1c66ab;
}

.borderButton {
  line-height: 25px;
  border: 2px solid #1c66ab;
  color: #1c66ab;
  background: transparent;
  font-size: 18px;
  padding: 2px;
  font-weight: bold;
}
