.container {
	border: 2px solid #1c66ab;
	padding: 10px;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}

.thumbnailImage {
	position: relative;
}

.closeButton {
	background: transparent;
	color: #1c66ab;
	padding: 5px;
	line-height: 25px;
	cursor: pointer;
	font-weight: bolder;
}

.closeButton:hover {
	color: #2a98ff;
}