#navigation {
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

a {
  background-color: #1c66ab;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid #1c66ab;
  margin: 2px;
}

a:hover {
  border-color: white;
}
