<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/standardhead :: standardhead"></head>

<body>
	<script>
		function loadTags() {
			const tags = $("#tags-wrapper")[0].attributes[0].value.replace('[', '').replace(']', '').replace(', ', ',');
			
			$("#tags-wrapper").load("/tags?tags=" + tags, function() {
				$('#txt-tags').tagsinput('refresh');
			});
		}
	
		$(document).ready(function() {
			$("#btn-save-entry").click(function(event) {
				const entry = {
					title: $("#txt-title").val(),
					content: $("#txt-content").val()
				};
				
				const id = getUrlParam("id");
				
				if (id) {
					entry.id = id;
				}
				
				$.ajax({
					type: "POST",
					url: "/entry", 
					data: JSON.stringify(entry), 
					contentType : 'application/json',
					success: function(data)  {
						window.location.href = "/entry?id=" + data.id;
					}
				});
			});
			
			loadTags();
		});	
	</script>
	
	<div class="container">
		<div th:replace="fragments/navigation :: navigation"></div>
	
		<h3>Entry</h3>
	
		<div class="row">
			<div class="col-xs-12">
				<input id="txt-title" type="text" placeholder="Title" th:value="${entry.title}" />
				<textarea id="txt-content" placeholder="Content" th:text="${entry.content}"></textarea>
				
				<div id="tags-wrapper" th:value="${entry.tags}"></div>
				
				<button id="btn-save-entry">Save</button>
			</div>
		</div>
	</div>
</body>
</html>