<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/standardhead :: standardhead"></head>

<body>
	<script>
		function loadTags() {
			const tags = $("#tags-wrapper")[0].attributes.value.value;
			
			$("#tags-wrapper").load("/tags?tags=" + tags, function() {
				$('#txt-tags').tagsinput('refresh');
			});
		}
		
		function loadImages() {
			const images = $("#images-wrapper")[0].attributes.value.value;
			
			$("#images-wrapper").load("/images?images=" + images, function() {
				$(function () {
				    $('#fileupload').fileupload({
				        dataType: 'json',
				        done: function (e, data) {
				            const filename = data.result.files[0].name;
				            const imagesArray = images.split(',');
				            imagesArray.push(filename);
				            
				            const finalArray = [];
				            
				            imagesArray.forEach(function(i) {
				            	if (i != '') {
				            		finalArray.push(i);
				            	}
				            });
				            
				            $("#images-wrapper")[0].attributes.value.value = finalArray.toString();
				            loadImages();
				        }
				    });
				});
				
				$(".dd-image").click(function(event) {
					const image = event.target.attributes.value.value;
					window.open("/image/" + image, "_blank");
				});
				
				$(".btn-delete-image").click(function(event) {
					const image = event.target.attributes.value.value;
					const images = $("#images-wrapper")[0].attributes.value.value.split(',');
					images.splice(images.indexOf(image), 1);
					
					$("#images-wrapper")[0].attributes.value.value = images.toString();
					loadImages();
				});
			});
		}
	
		$(document).ready(function() {
			$("#btn-save-entry").click(function(event) {
				const entry = {
					title: $("#txt-title").val(),
					content: $("#txt-content").val(),
					tags: $('#txt-tags').val().split(','),
					images: $("#images-wrapper")[0].attributes.value.value.split(',')
				};
				
				const id = getUrlParam("id");
				
				if (id) {
					entry.id = id;
				}
				
				$.ajax({
					type: "POST",
					url: "/entry", 
					data: JSON.stringify(entry), 
					contentType : 'application/json',
					success: function(data)  {
						window.location.href = "/entry?id=" + data.id;
					}
				});
			});
			
			loadTags();
			loadImages();
		});	
	</script>
	
	<div class="container">
		<div th:replace="fragments/navigation :: navigation"></div>
	
		<h3>Entry</h3>
	
		<div class="row">
			<div class="col-xs-12">
				<input id="txt-title" type="text" placeholder="Title" th:value="${entry.title}" />
				<textarea id="txt-content" placeholder="Content" th:text="${entry.content}"></textarea>
				
				<div id="tags-wrapper" th:value="${#strings.listJoin(entry.tags, ',')}"></div>
				<div id="images-wrapper" th:value="${#strings.listJoin(entry.images, ',')}"></div>
				
				<button id="btn-save-entry">Save</button>
			</div>
		</div>
	</div>
		
	<script src="../static/js/fileupload/vendor/jquery.ui.widget.js" th:src="@{js/fileupload/vendor/jquery.ui.widget.js}"></script>
	<script src="../static/js/fileupload/jquery.iframe-transport.js" th:src="@{js/fileupload/jquery.iframe-transport.js}"></script>
	<script src="../static/js/fileupload/jquery.fileupload.js" th:src="@{js/fileupload/jquery.fileupload.js}"></script>
</body>
</html>