<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="../static/css/all.css" th:href="@{css/all.css}" rel="stylesheet" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/shared.js" th:src="@{js/shared.js}"></script>
	
	<title>Dream Diary</title>
	
	<script>
		$(document).ready(function() {
			$("#btn-save-entry").click(function(event) {
				const entry = {
					title: $("#txt-title").val(),
					content: $("#txt-content").val()
				};
				
				const id = getUrlParam("id");
				
				if (id) {
					entry.id = id;
				}
				
				const json = JSON.stringify(entry);
				
				$.ajax({
					type: "POST",
					url: "/entry", 
					data: json, 
					contentType : 'application/json',
					success: function(data)  {
						window.location.href = "/entry?id=" + data.id;
					}
				});
			});
		});	
	</script>
</head>

<body>
	<div th:replace="navigation :: navigation"></div>

	<h3>Entry</h3>
	
	<div class="row">
		<div class="col-sm-10 col-lg-8">
			<input id="txt-title" type="text" placeholder="Title" th:value="${entry.title}" />
			<textarea id="txt-content" placeholder="Content" th:text="${entry.content}"></textarea>
			
			<button id="btn-save-entry">Save</button>
		</div>
	</div>
</body>
</html>