<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/standardhead :: standardhead"></head>

<body>
	<script>
		function getParamsFromUrl() {
			let url = "?searchTerm=" + encodeURIComponent(getUrlParam("searchTerm")) + "&amp;page=" + getCurrentPage();
			return url.replace('amp;', '');
		}
		
		function getEntryParams(page) {
			let url = "";
			
			const searchTerm = encodeURIComponent($("#search-term").val());
			url = url + "?searchTerm=" + searchTerm;
			
			url = url + "&amp;page=" + page;
			
			return url.replace('amp;', '');
		}
		
		function startSearch(page) {
			window.location.href = "/tag-search" + getEntryParams(page);
		}
		
		function getCurrentPage() {
			let pageString = getUrlParam("page");
			
			if (pageString == "") {
				pageString = "0";
			}
			
			return parseInt(pageString);
		}
		
		$(document).ready(function() {
			$("#tags-result-wrapper").load("/tag-results" + getParamsFromUrl(), function() {
				$("a").click(function(event) {
					const page = parseInt(event.target.attributes.value.value);
					startSearch(page);
				});
				
				$(".tag-result-search-button").click(function(event) {
					const id = $(event.target)[0].id;
					window.location.href = "/dashboard?searchTerm=" + encodeURIComponent(id);
				});
			});
			
			$("#search-term").val(getUrlParam("searchTerm"));
			
			$("#search-term").keyup(function(event) {
				if (event.keyCode === 13) {
					startSearch(0);
				}
			});
			
		 	$("#tag-search-button").click(function() {
		 		startSearch(0);
		 	});
		 	
		 	$("#search-term").focus();
		});
	</script>

	<div class="container">
		<div th:replace="fragments/navigation :: navigation"></div>
	
		<div class="row">
			<div class="col-xs-6">
				<input type="text" id="search-term" placeholder="Search tags" />
			</div>
			<div class="col-xs-4 text-left">
				<button id="tag-search-button">Search</button>
			</div>
		</div>
		<div class="col-xs-12" id="tags-result-wrapper"></div>
	</div>
</body>
</html>