<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/standardhead :: standardhead"></head>

<body>
	<div th:fragment="entries" th:if="${searchResponse != null}" class="dd-table">
		<div class="row dd-table-header">
			<div class="col-xs-4">Title</div>
			<div class="col-xs-4">Date</div>
			<div class="col-xs-4">Text</div>
		</div>
		<div th:if="${searchResponse.pageCount > 0}" class="row dd-table-body" th:each="entry : ${searchResponse.entries}" th:value="${entry.id}">
			<div class="col-xs-4" th:text="${entry.title}">test title 1234</div>
			<div class="col-xs-4" th:text="${entry.createdDate}">16.09.2016 17:54:21</div>
			<div class="col-xs-4" th:text="${entry.content}">test sdfgnsdfoigns fgf gfd...</div>
		</div>
	
		<div class="row" th:if="${searchResponse.pageCount == 0}">No entries found</div>
	
		<div class="row">
			<nav aria-label="Page navigation" th:if="${searchResponse.pageCount > 0}">
				<ul class="pagination">
					<li><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<li><a th:id="${searchResponse.page} == ${i - 1} ? 'page-button' : ''" th:each="i : ${#numbers.sequence( 1, searchResponse.pageCount)}" th:value="${i-1}" th:text="${i}"></a></li>
					<li><a aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>