<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="standardhead">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="../static/css/all.css" th:href="@{css/all.css}" rel="stylesheet" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/shared.js" th:src="@{js/shared.js}"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
	
	<link href="../static/js/tagsinput/bootstrap-tagsinput.css" th:href="@{js/tagsinput/bootstrap-tagsinput.css}" rel="stylesheet" />
    <script src="../static/js/tagsinput/bootstrap-tagsinput.min.js" th:src="@{js/tagsinput/bootstrap-tagsinput.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	
	<title>Dream Diary</title>
</head>

<body>
	Empty
</body>
</html>