<label class="captionLabel">Dashboard</label>
<div id="searchBar">
  <input id="searchText" [(ngModel)]="request.term" (keypress)="onKeyPressed($event)" placeholder="Search..." />
  <button class="borderButton" (click)="startSearch()">Search</button>
</div>
<div *ngIf="searchResponse" id="searchResultWrapper">
  <label id="totalElements">{{searchResponse.totalElements}} results:</label>
  <table width="700px" cellspacing="0" cellpadding="0">
    <colgroup>
      <col width="100px">
      <col width="250px">
      <col width="100px">
      <col width="200px">
      <col width="100px">
    </colgroup>
    <thead>
      <tr id="header">
        <td>Title</td>
        <td>Preview</td>
        <td>Tags</td>
        <td>Date</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="#entry of searchResponse.entries">
          <td (click)="openEntry(entry.id)">{{entry.title}}</td>
          <td (click)="openEntry(entry.id)">{{entry.content}}</td>
          <td (click)="openEntry(entry.id)">{{entry.tags}}</td>
          <td (click)="openEntry(entry.id)">{{entry.createdDate | date:"dd MM yyyy hh:mm:ss"}}</td>
          <td><button class="deleteButton" (click)="deleteEntry(entry.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
